/* global ----------------------------------------------------------------- */
body { color: #444; }

/* common, shared --------------------------------------------------------- */
.tar { text-align: right; }
.tac { text-align: center; }
.tal { text-align: left; }

/* layout ----------------------------------------------------------------- */
.ui.fixed.menu { box-shadow: 0 1px 5px rgb(20,20,20); }
.ui.grid { margin: 0; }
.widget.list-table { margin: 0.4rem 0; }
.widget.help.content { background: #eee;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 0.9rem;
  margin: 0.5rem;
  padding: 0.5rem !important;
}

/* widget ----------------------------------------------------------------- */
.full-width { width: 100%; }
.full-width table { width: 100%; }

.table-head-ribbon { text-align: right; padding: 2px; }
.table-head-ribbon { color: #888; font-size: 0.9rem; }
.table-head-ribbon div { display: inline-block; vertical-align: middle; }
.table-head-ribbon div.table-title { float: left; }
.table-head-ribbon div.table-title { font-size: 1.2rem; font-weight: bold; }

table { font-size: 0.9rem; }
table tr { border-bottom: 1px solid #ccc; }
table tr:first-child { border-top: 1px solid #ccc; }
table tr:last-child { border-bottom: 1px solid #ccc; }

table th { border-bottom: 3px solid #c00; }
table th { background: #000; color: #ccc; }
table th, table td { padding: 0.2rem 0.1rem;}
table tr:nth-child(even) td { background: #fefefe; }
table tr:nth-child(odd) td { background: #f6f6f6; }
